* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #707070;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 72px 32px;
  font-size: 1.5rem;
}

nav {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  float: left;
  padding: 0 32px;
}

.logo {
  display: inline-block;
  justify-self: center;
  font-size: 3rem;
}

.toggle {
  padding-left: 32px;
}

.main {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 0 64px;
}

.right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-picture {
  display: inline-block;
}

footer {
  /* height: 128px; */
  background-color: #899ba9;
  padding: 50px 64px;
}

svg {
  width: 500px;
  height: 500px;
}

#right-arm {
  animation: right-arm 3s linear infinite;
  transform-origin: 50px 50px;
  transform-box: fill-box;
}

#left-arm {
  animation: left-arm 3s linear infinite;
  transform-origin: 50px 50px;
  transform-box: fill-box;
}

#web-component {
  animation: web-component 2s ease-in-out infinite;
}

@keyframes right-arm {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes left-arm {
  0% {
    transform: rotateZ(-15deg);
  }
  25% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(-15deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-15deg);
  }
}

@keyframes web-component {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
