* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showcase {
  position: relative;
  width: 500px;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
}

.showcase_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.showcase_content:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.showcase_item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  transition: all 0.3s linear;
  overflow: hidden;
}

.showcase_item.active {
  left: 0;
}

.showcase_item.next {
  left: 100%;
}

.showcase_item.prev {
  left: -100%;
}

.showcase_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.showcase_button_back,
.showcase_button_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  opacity: 0.3;
  transition: opacity 0.8s ease-in-out;
  cursor: pointer;
}

.showcase_button_back {
  left: 15px;
}

.showcase_button_next {
  right: 15px;
}

.showcase_button_back:hover,
.showcase_button_next:hover {
  opacity: 1;
}
